$untapt-purple: #9100FF;
$untapt-orange: #ff7800;
$untapt-green:  #00D294;


* {
  box-sizing: border-box;
    body {
      margin: 0;
      padding: 0;
     font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      ul {
        list-style-type: none;
      }
    }
}

button, .button-style {
  border: 0 none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background-color: $untapt-green;
  color: white;
  padding: 7px 7px;
  cursor: pointer;
}

.button-style {
  background-color: $untapt-purple;
  font-weight: 700;
  padding: 15px 15px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgb(196, 196, 196);
    height: 50px;
    li {
        font-size: 25px;
        color: $untapt-purple;
        font-weight: 750;
    }
    & > div{
        display: flex;
        justify-content: space-between;
        width: 150px;
        margin-right: 50px;
    }
}

.content-container{
  display: flex;
  justify-content: space-around;
  &  h1 {
    text-align: right;
  }
}

.item-container{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ff7800;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    .item-header{
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      border: 3px;
      border-bottom: 1px solid transparent;
      color: #fff;
      background-color: $untapt-orange;
      border-color:  $untapt-orange;
      border-radius: 4px 4px 0 0;
      #create-space{
        padding-right: 20px;
      }
    }
    .item-description{  
      padding: 15px;
    }
    .item-footer{
      padding: 10px 15px;
      background-color: #f5f5f5;
      border-top: 1px solid rgb(168, 154, 154);
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
   & > div {
    background-color: white;
    max-width: 500px;
    padding: 15px;
    border-radius: 5px;
    }
    &:empty {
        display: none;
    }
    input, textarea{
        border-radius: 4px;
        line-height: 1.5em;
        width: 100%;
        border: 1px solid #ccc;
        padding: 5px;
    }
    label{
        font-weight: bold;
    }
}

.modal-button-container{
  display: flex;
  justify-content: center;
    & > button {
    margin: 10px;  
    padding: 15px 15px;
    flex: 0 0 170px;
  }
}

// .modal-button-container 

li > img {
  /* max-width:100%; */
  max-height: 100%;
}

.style-img{
  width:40px;
  height: 40px;
  color: #9100FF
}